<div class="event-list">
    <!-- Show that no events exit-->
    <div class="no-data text-center" *ngIf="events.length == 0">
        <p>No Events listed!</p>
    </div>
    <!-- Event llist that hides when there is no event-->
    <div *ngIf="events.length !==0">
        {{events}}c
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let currentEvent of events">
                <event [event]="currentEvent"></event>
            </div>
        </div>

    </div>
</div>